@model LoginViewModel

@{ 

}

<form asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label>Username</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
    </div>
    <input type="submit" value="Sign In" />
</form>